.mainContainer{
 width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.container{
    height: 60px;
    background-color: rgb(232, 232, 232);
    border-bottom: 1px solid rgb(156, 156, 156);
}

.close{
    display: none;
}

.label{
    display: flex;
}

.input {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 1rem;
    background-color: #ffffff00;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
    margin-top: 12px;
    margin-left: 10px;
}

.input:checked{
    background-color: #878787;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.text{
    font-size: 25px;
    padding-left: 12px;
     margin-top: 10px;
}